

<div th:fragment="cabecalho">
  <link rel="stylesheet" th:href="@{/style.css}">
  <body>
       <header>
        <div class="container">
            <h1>
                <img class="logo" th:src="@{/imagens/logo.png}" alt="Logo"> Catálogo Tático
            </h1>
            <nav>
                <ul class="menu">
                    <li><a th:href="@{/}"><strong>INÍCIO</strong></a></li>
                    <li><a th:href="@{/categoria/munições}"><strong>MUNIÇÕES</strong></a></li>
                    <li><a th:href="@{/categoria/equipamentos}"><strong>EQUIPAMENTOS</strong></a></li>
                    <li><a th:href="@{/categoria/acessórios}"><strong>ACESSÓRIOS</strong></a></li>
                    <li><a th:href="@{/categoria/tiroesportivo}"><strong>TIRO ESPORTIVO</strong></a></li>
                    <li><a th:href="@{/categoria/carabinas}"><strong>CARABINAS</strong></a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</div>


  <footer>
    <div class="container">
      <p>&copy; 2025 Catálogo Bélico. Todos os direitos reservados.</p>
    </div>
  </footer>

