<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Acessórios | CP Tática</title>
  <link rel="stylesheet" href="../../style.css" />
</head>
<body>
  
<div th:replace="fragments/header :: cabecalho"></div>

    <section class="hero">
    <div class="container">
      <h2>Acessórios </h2>
      <p>Seleção de acessórios de alta qualidade para suas necessidades táticas.</p>
    </div>
  </section>
 
  <section class="produtos container">
    
 
    
    <h2>Catálogo de Acessórios</h2>
    <div class="grid-produtos">
    
      <div class="card">
        <img src="/categorias/acessorios/ClipPortaAbafador/ClipPortaAbafador01.png" alt="Clip Porta Abafador">
        <h3>Clip Porta Abafador</h3>
      <p>O Clip Porta Abafador Bélica foi desenvolvido para trazer segurança e 
        comodidade nos momentos em que você utiliza seu abafador no modo descanso.</p>
       <a href="ClipPortaAbafador/ClipPortaAbafador.html"><button>Ver detalhes</button></a>
        <a href="https://api.whatsapp.com/send?phone=5571992471530&text=Ol%C3%A1%2C%20gostaria%20de%20reservar%20o%20Clip%20Porta%20Abafador.">
         <button style="background-color: rgba(204, 192, 18, 0.623);"><h4>R$ 29,90 - Comprar</h4> </button></a>
             </div>

  <div class="card">
        <img src="/categorias/acessorios/ClipPortaAbafador/ClipPortaAbafador01.png" alt="Clip Porta Abafador">
        <h3>Clip Porta Abafador</h3>
      <p>O Clip Porta Abafador Bélica foi desenvolvido para trazer segurança e 
        comodidade nos momentos em que você utiliza seu abafador no modo descanso.</p>
       <a href="ClipPortaAbafador/ClipPortaAbafador.html"><button>Ver detalhes</button></a>
        <a href="https://api.whatsapp.com/send?phone=5571992471530&text=Ol%C3%A1%2C%20gostaria%20de%20reservar%20o%20Clip%20Porta%20Abafador.">
         <button style="background-color: rgba(204, 192, 18, 0.623);"><h4>R$ 29,90 - Comprar</h4> </button></a>
       
  </div>

 <div class="card">
        <img src="/categorias/acessorios/PortaCarregadorDuplo/PortaCarregadorDuplo 01.png" alt="Porta Carregador Duplo">
        <h3>Porta Carregador Duplo</h3>
      <p>O Porta Carregador Tab Lock FAST é utilizado para compor os equipamentos e facilitar no dia a dia.
        Sua plataforma Fast traz a agilidade em poder instalá-lo e removê-lo sem a necessidade de remover o cinto.</p>
       <a href="/categorias/acessorios/PortaCarregadorDuplo/PortaCarregadorDuplo.html"><button>Ver detalhes</button></a>
        <a href="https://api.whatsapp.com/send?phone=5571992471530&text=Ol%C3%A1%2C%20gostaria%20de%20reservar%20o%20Porta%20Carregador%20Duplo.">
        <button style="background-color: rgba(204, 192, 18, 0.623);"><h4>R$ 289,90 - Comprar</h4> </button></a>
      </div>

 <div class="card">
        <img src="categorias/acessorios/PortaCarregadorDuplo/PortaCarregadorDuplo 01.png" alt="Porta Carregador Duplo">
        <h3>Porta Carregador Duplo</h3>
      <p>O Porta Carregador Tab Lock FAST é utilizado para compor os equipamentos e facilitar no dia a dia. 
        Sua plataforma Fast traz a agilidade em poder instalá-lo e removê-lo sem a necessidade de remover o cinto.</p>
       <a href="categorias/acessorios/PortaCarregadorDuplo/PortaCarregadorDuplo.html"><button>Ver detalhes</button></a>
        <a href="https://api.whatsapp.com/send?phone=5571992471530&text=Ol%C3%A1%2C%20gostaria%20de%20reservar%20o%20Porta%20Carregador%20Duplo.">
        <button style="background-color: rgba(204, 192, 18, 0.623);"><h4>R$ 289,90 - Comprar</h4> </button></a>
      </div>
</div>



  </section>


 <footer>
    <div class="container">
      <p>&copy; 2025 Catálogo Bélico. Todos os direitos reservados.</p>
    </div>
  </footer>

</body>
</html>
