<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Carabinas | CP Tática</title>
  <link rel="stylesheet" href="../../style.css" />
</head>
<body>

<div th:replace="fragments/header :: cabecalho"></div>
  
  </header>
    <section class="hero">
    <div class="container">
      <h2> Carabinas - Airsoft - Airgun</h2>
      <p> Pra quem busca conciliar diversão e treinamento. </p>
    </div>
  </section>


  <section class="produtos container">
    <h2>Catálogo de Carabinas</h2>
    <div class="grid-produtos">
    
      <div class="card">
        <img class= "carabina" src="categorias/carabinas/imgCarabinas/Dione5gGasRam.png" width="1" alt="Produto 1">
        <h3>ROSSI DIONE 5G MADEIRA</h3>
        <p>Calibre - 5,5 MM</p>
        <p>Tipo de ação - Gas Ram</p>
        <p>Velocidade máxima (m/s) - 245 M/S</p>
        <p>Energia (joule) - 24,0 JOULE</p>
        <p>Peso do produto - 3080 KG</p>
        <button>Detalhes</button>
         <a href="https://api.whatsapp.com/send?phone=5571992471530&text=Ol%C3%A1%2C%20gostaria%20de%20reservar%20o%20Rossi%20Dione%205G%20Madeira.">
         <button style="background-color: rgba(204, 192, 18, 0.623);"><h4>R$ 1.999 - Comprar</h4> </button></a>

      </div>
      <div class="card">
        <img class= "carabina" src="categorias/carabinas/imgCarabinas/Dione5gpreta.png" alt="Produto 2">
        <h3>ROSSI DIONE 5G PRETA</h3>
        <p>Calibre - 5,5 MM</p>
        <p>Tipo de ação - Gas Ram</p>
        <p>Velocidade máxima (m/s) - 245 M/S</p>
        <p>Energia (joule) - 24,0 JOULE</p>
        <p>Peso do produto - 3080 KG</p>
        <button>Detalhes</button> 
         <a href="https://api.whatsapp.com/send?phone=5571992471530&text=Ol%C3%A1%2C%20gostaria%20de%20reservar%20o%20Rossi%20Dione%205G%20Preta.">
         <button style="background-color: rgba(204, 192, 18, 0.623);"><h4>R$ 1.500 - Comprar</h4> </button></a>
      </div>


      <div class="card">
        <img class= "carabina" src="categorias/carabinas/imgCarabinas/dioneSportPreta.png" alt="Produto 3">
        <h3>ROSSI DIONE SPORT PRETA</h3>
        <p>Calibre - 5,5 MM</p>
        <p>Tipo de ação - Mola Helicoidal</p>
        <p>Velocidade máxima (m/s) - 183 M/S</p>
        <p>Energia (joule) - 13,3 JOULE</p>
        <p>Peso do produto - 2380 KG</p>
        <button>Detalhes</button>
         <a href="https://api.whatsapp.com/send?phone=5571992471530&text=Ol%C3%A1%2C%20gostaria%20de%20reservar%20o%20Rossi%20Dione%20Sport%20Preta.">
         <button style="background-color: rgba(204, 192, 18, 0.623);"><h4>R$ 899,99 - Comprar</h4> </button></a>
      </div>

      <div class="card">
        <img class= "carabina" src="categorias/carabinas/imgCarabinas/dioneSportMadeira.png"alt="Produto 3">
        <h3>ROSSI DIONE SPORT MADEIRA</h3>
        <p>Calibre - 5,5 MM</p>
        <p>Tipo de ação - Mola Helicoidal</p>
        <p>Velocidade máxima (m/s) - 183 M/S</p>
        <p>Energia (joule) - 13,3 JOULE</p>
        <p>Peso do produto - 2145 KG</p>
        <button>Detalhes</button>
         <a href="https://api.whatsapp.com/send?phone=5571992471530&text=Ol%C3%A1%2C%20gostaria%20de%20reservar%20o%20Rossi%20Dione%20Sport%20Madeira.">
         <button style="background-color: rgba(204, 192, 18, 0.623);"><h4>R$ 899,99 - Comprar</h4> </button></a>
      </div>
     
       <div class="card">
        <img class= "carabina" src="categorias/carabinas/imgCarabinas/beeman1336.png"alt="Produto 3">
        <h3>BEEMAN 1336 POLIMERO</h3>
        <p>Calibre - 5,5 MM</p>
        <p>Tipo de ação - PCP</p>
        <p>Velocidade máxima (m/s) - 300 M/S</p>
        <p>Energia (joule) - 43,0 JOULE</p>
        <p>Peso do produto - 3150 KG</p>
        <button>Detalhes</button> <a href="https://api.whatsapp.com/send?phone=5571992471530&text=Ol%C3%A1%2C%20gostaria%20de%20reservar%20o%20Beeman%201336%20Polimero.">
         <button style="background-color: rgba(204, 192, 18, 0.623);"><h4>R$ 2.829,00 - Comprar</h4> </button></a>
      </div>








    </div>
  </section>


  
    
 




   <footer>
    <div class="container">
      <p>&copy; 2025 Catálogo Bélico. Todos os direitos reservados.</p>
    </div>
  </footer>
</body>
</html>
