<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Equipamentos| CP Tática</title>
   </head>

<body>
<link rel="stylesheet" href="style.css" />

<div th:replace="fragments/header :: cabecalho"></div>


  <section class="hero">
    <div class="container">
      <h2>Equipamentos</h2>
      <p>Explore nossa seleção de equipamentos táticos, que vão fazer total diferença no seu desempenho e no dia a dia.</p>
    </div>


  </section>
    
  <section class="produtos container">
   
    <div class="grid-produtos">

         <div class="card">
              <img src="categorias/equipamentos/HammerPROMid/HammerPROMid-Ride.png" alt="HammerPROMid-Ride">
              <h3>Hammer PRO Mid-Ride</h3>
              <p>Desenvolvido em polímero de alta resistência,
              o modelo Hammer PRO Mid-Ride é ideal para quem busca conforto e segurança no transporte de sua arma. 
              </p>
              <a href="categorias/equipamentos/HammerPROMid/hammer-pro-mid.html"><button>Ver detalhes</button></a>
              <a href="https://api.whatsapp.com/send?phone=5571992471530&text=Ol%C3%A1%2C%20gostaria%20de%20reservar%20o%20Hammer%20PRO%20Mid-Ride.">
              <button style="background-color: rgba(204, 192, 18, 0.623);"><h4>R$ 289,90 - Comprar 🛒</h4> </button></a>
          </div>


      <div class="card">
            <img src="categorias/equipamentos/ColdreEagleFit/eaglefit01.png" alt="Coldre Eagle Fit">
            <h3>Coldre Eagle Fit</h3>
            <p>O Coldre Eagle Fit é a escolha ideal para quem busca conforto e segurança no transporte de sua arma.</p>
            <a href="categorias/equipamentos/ColdreEagleFit/coldreEagleFit.html"><button>Ver detalhes</button></a>
            <a href="https://api.whatsapp.com/send?phone=5571992471530&text=Ol%C3%A1%2C%20gostaria%20de%20reservar%20o%20Coldre%20Eagle%20Fit.">
            <button style="background-color: rgba(204, 192, 18, 0.623);"><h4>R$ 89,90 - Comprar 🛒</h4> </button></a>
      </div>


      

      </div>


  </section>



   <footer>
    <div class="container">
      <p>&copy; 2025 Catálogo Bélico. Todos os direitos reservados.</p>
    </div>
  </footer>
</body>
</html>
