<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Catálogo Bélico</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  
  <!-- Bootstrap CSS e JS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

<div th:replace="fragments/header :: cabecalho"></div>  

<section class="hero"> 
  <h2>Produtos da Gategoria:</h2> 
</section>

<section class="produtos container">
  <div class="grid-produtos"> 
    <div class="card" th:each="produto : ${produtos}" th:if="${produtos != null}">
      
      <!-- Carrossel de imagens -->
      <div th:if="${produto.imagens != null and #lists.size(produto.imagens) > 0}">
        <div th:id="'carouselProduto_' + ${produto.id}" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div th:each="img, iterStat : ${produto.imagens}"
                 th:class="'carousel-item' + (${iterStat.index == 0} ? ' active' : '')">
              <img th:src="@{'/uploads/' + ${img.nomeArquivo}}" class="d-block w-100" alt="Imagem do produto" style="max-height: 300x; object-fit: contain;">
            </div>
          </div>

          <!-- Botões de navegação -->
          <button class="carousel-control-prev" type="button"
                  th:attr="data-bs-target='#carouselProduto_' + ${produto.id}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button"
                  th:attr="data-bs-target='#carouselProduto_' + ${produto.id}" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
      </div>

      <!-- Informações do produto -->
      <a th:href="@{/categoria/{categoria}/{slug}(categoria=${produto.categoria.nome}, slug=${produto.slug})}">
        <h3 th:text="${produto.nome}"></h3>
      </a>
      <p th:text="${produto.descricaolink}">Descrição do Link</p>
      <p>Preço: R$ <span th:text="${produto.preco}">0.00</span></p>
      <p>Categoria: <span th:text="${produto.categoria.nome}">Categoria</span></p>
    </div>
  </div>
</section>

</body>
</html>




  <footer>
    <div class="container">
      <p>&copy; 2025 Catálogo Bélico. Todos os direitos reservados.</p>
    </div>
  </footer>
