<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Catálogo Bélico</title>
  <link rel="stylesheet" href="@{/style.css}"/>
</head>

<body>

<div th:replace="fragments/header :: cabecalho"></div>  



<section class="hero"> <h2>Produtos da Gategoria:</h2> </section>

<section class="produtos container">
   
    <div class="card" th:if="${produtos != null}">
            <div th:each="produto : ${produtos}" style="border: 1px solid #ccc; margin: 10px; padding: 10px;">
            <h3 th:text="${produto.nome}">Nome do Produto</h3>
            <p th:text="${produto.descricaolink}">Descrição do Link</p>
            <p>Preço: R$ <span th:text="${produto.preco}">0.00</span></p>
            <p>Categoria: <span th:text="${produto.categoria.nome}">Categoria</span></p>
            <img th:src="@{${produto.imagemurl}}" alt="Imagem do produto" style="width: 150px;">
            <a th:href="@{/categoria/{categoria}/{slug}(categoria=${produto.categoria.nome}, slug=${produto.slug})}">
            <h2 th:text="${produto.nome}"></h2>
</a>
            </div>
    </div>

</section>

</body>
</html>






  <footer>
    <div class="container">
      <p>&copy; 2025 Catálogo Bélico. Todos os direitos reservados.</p>
    </div>
  </footer>
